span {

    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 0, 0, 0.668);
    margin-top: 10px;
    margin-bottom: 10px;

}

div {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

h1 {

    color: rgb(227, 219, 219);

}

form {

    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(227, 219, 219);

}

label {

    margin: 10px;
    font-size: 2rem;
    color: rgb(227, 219, 219);

}

input {

    margin: 10px;
    width: 200px;

}

select {

    margin: 10px;
    width: 200px;

}

.createActivity {

    margin-top: 100px;
    font-size: 3rem;
    width: 500px;
    justify-content: center;
    align-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #5a2a0677;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;


}

.countriesSelection {

    display: grid;
    grid-template-columns: repeat(5, 1fr);

}